<h2>Open games</h2>
<ul>
<%= for game <- @games do %>
  <li>
    <span><%= game.name %></span>
    <%= link "Join", to: game_path(@conn, :show, game), class: "btn btn-default btn-xs" %>
  </li>
<% end %>
</ul>
<%= link "New game", to: game_path(@conn, :new) %>
